.btn {
  margin-top: 2rem;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  background-color: orangered;
  border: 3px solid orangered;
  color: white;
  font-size: 1rem;
}

.btn:hover {
  background-color: white;
  color: orangered;
}
